{{- $gateway_id := getenv "GATEWAY_IP" "6369a89cf67ffcb560daa2a8" -}}
{{- $gateway_key := printf "/gateways/%s" $gateway_id -}}
{{- $gateway := json (getv $gateway_key) -}}
{{- $users := $gateway.policy.credentials.users -}}
{{- range $index, $user := $users -}}
{{$user.username}}:{{$user.password}}
{{ end -}}
